<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="encabezado">
            <div class="encabezado-mobile">
                <a href="/"> <img src= "/images/logo-mercado-liebre.svg" class="logo"> </a>
                <form action="">
                    <input type="search" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
                </form>
            </div>
            <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>

        <div class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="register">Creá tu cuenta</a>
                <i class="far fa-address-card"></i></li>  
                <li><a href="login">Ingresá</a>
                <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a>
                <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    
    <img class="banner" src="/images/img-home-banner.jpg">

    <h3>Basado en tu ultima visita</h3>
    <div class="contenedor">
        <article class="producto">
            <img src="/images/img-cafetera-moulinex.jpg">
                <div class="descripcion-producto">
                        <div><i class="fas fa-truck"></i></div>
                        <p class="precio">$6.770 </p></li>
                        <p class="descuentos">40% OFF</p></li>   
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
        </article>
        <article  class="producto">
                <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="descripcion-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000 </p>
                        <p class="descuentos">20% OFF</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
        </article>
        <article class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="descripcion-producto">
                        <i class="fas fa-truck"></i>
                        <p  class="precio">$70.500 </p>
                        <p class="descuentos">10% OFF</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
        </article>
        <article class="producto">
                <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="descripcion-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200 </p>
                        <p class="descuentos">5% OFF</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
        </article>
    </div>
    <h3>Ofertas</h3>
    <div  class="contenedor">
        <article class="producto">
            <img src="/images/img-cafetera-moulinex.jpg">
                <div class="descripcion-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770 </p>
                <p class="descuentos">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
        </article>
        <article class="producto">
            <img src="/images/img-macbook-pro-2019.jpg">
                <div class="descripcion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000 </p>
                    <p class="descuentos">20% OFF</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
        </article>
        <article class="producto">
            <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="descripcion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500 </p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
        </article>
        <article class="producto">
            <img src="/images/img-tv-samsung-smart.jpg">
                <div class="descripcion-producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200 </p>
                    <p class="descuentos">5% OFF</p>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
        </article>

    </div>

    <footer>
        <div id="footer">
            <div>
                <div class="iconos"><i class="fas fa-credit-card"></i></div>
                <h5 class="titulitos">Pagá con tarjeta o en efectivo</h5>
                <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>    
            </div>
        
            <div>
                <div class="iconos"><i class="fas fa-gift"></i></div>
                <h5 class="titulitos">Envío gratis desde $ 2.500</h5>
                <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>    
    
            <div>
                <div  class="iconos"><i class="fas fa-user-shield"></i></div>
                <h5 class="titulitos">Seguridad, de principio a fin</h5>
                <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>    
            </div>
        </div>
        
        <br>
        <p class="copyr">Copyrigth 1999-2020 MercadoLiebre S.R.L</p>
    
    </footer>
    
</body>

</html>