<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="encabezado">
            <div class="encabezado-mobile">
                <img src= "/images/logo-mercado-liebre.svg" class="logo">
                <form action="">
                    <input type="search" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
                </form>
            </div>
            <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>

        <div class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="register">Creá tu cuenta</a>
                <i class="far fa-address-card"></i></li>  
                <li><a href="login">Ingresá</a>
                <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a>
                <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    
<main>
    <form class="create-form" action="register" method="POST">
    <div class="control-formulario">
        <input placeholder="Nombre y apellido" type="text" name="nya" class="control" minlength="10" required>
    </div>
    <div class="control-formulario">
        <input placeholder="Nombre de usuario" type="text" name="usuario" class="control" minlength="6" required>
    </div>
    <div class="control-formulario">
        <label>Fecha de nacimiento</label>
        <input placeholder="Nombre de usuario" type="date" name="fecha" min="1930-01-01" max="2021-01-01" required>
    </div>
    <div class="control-formulario">
        <input placeholder="Domicilio" type="tel" name="domicilio" class="control" required>
    </div>
    <div class="control-formulario">
        <label>Perfil del usuario</label>
        <input type="radio" name="compra-vende" value="Vendedor">   Vendedor</input>
        <input type="radio" name="compra-vende" value="Comprador">  Comprador</input>
    </div>
    <div class="control-formulario">
        <label>Intereses</label><br>
        <input type="checkbox" name="intereses" value="electro">    Electro</input><br>
        <input type="checkbox" name="intereses" value="moda">   Moda</input><br>
        <input type="checkbox" name="intereses" value="hogar">  Hogar</input>   <br> 
        <input type="checkbox" name="intereses" value="jugueteria"> Jugueteria</input><br>
        <input type="checkbox" name="intereses" value="vida-sana">  Vida sana</input>  <br>
    </div>
    <div class="control-formulario">
        <label>Foto de usuario</label>
        <input type="file" name="foto" accept = ".jpg" required>
    </div>
    <div class="control-formulario">
        <label>Contraseña   </label>
        <input type="password" name="contrasena" class="control"  minlength="8" required>
    </div>
    <div class="control-formulario">
        <label>Confirmar contraseña   </label>
        <input type="password" name="confirmar-contrasena" class="control" minlength="8" required>
    </div>
    <button type="menu" class="boton-formulario">Enviar</button>
    <button type="reset" class="boton-formulario">Borrar</button>
</form>
</main>

<footer>
    <div id="footer">
        <div>
            <div class="iconos"><i class="fas fa-credit-card"></i></div>
            <h5 class="titulitos">Pagá con tarjeta o en efectivo</h5>
            <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>    
        </div>
    
        <div>
            <div class="iconos"><i class="fas fa-gift"></i></div>
            <h5 class="titulitos">Envío gratis desde $ 2.500</h5>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>    

        <div>
            <div  class="iconos"><i class="fas fa-user-shield"></i></div>
            <h5 class="titulitos">Seguridad, de principio a fin</h5>
            <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>    
        </div>
    </div>
    
    <br>
    <p class="copyr">Copyrigth 1999-2020 MercadoLiebre S.R.L</p>

</footer>

</body>
</html>